<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quiz Master | Admin Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admindashboardstyle.css" , rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg shadow-sm">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Summary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="container mt-4">
        <h3>Welcome {{ username }}</h3>
        <br>
        <br>
        <div class="row">
            {% for subject in subjects %}
            <div class="col-md-3 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">{{ subject.subjectName }}</h5>
                        <p class="card-text">{{ subject.description }}</p>
                    </div>
                    <div class="card-footer bg-white border-0">
                        <a href="{{ url_for('get_subject_page', subject_id = subject.subjectId) }}"
                            class="btn btn-success">View Subject</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>