<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quiz Master | Quiz Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/quizinfo.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg shadow-sm">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('render_admin_dashboard_page', username = username) }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('render_quiz_dashboard') }}">Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<div class="container mt-4">
    <h4 class="card-title font-weight-bold">Quiz Details</h4>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ quiz.quizName }}</h5>
                    <br>
                    <h5 class="card-subtitle text-muted">{{ quiz.timeDurationMinutes }} minutes</h5>
                    <br>
                    <p class="card-text">{{ quiz.remarks }}</p>
                </div>
                <div class="card-footer bg-white text-center">
                    <a href="{{ url_for('render_quiz_info_page', quiz_id = quiz.quizId) }}" class="btn btn-dark">
                        Modify Quiz
                    </a>
                </div>
            </div>
            <br>
        </div>
        
        <div class="col-md-8">
            <div class="row">
                {% if questions %}
                {% for question in questions %}
                <div class="col-md-6 mb-3">
                    <div class="quiz-card">
                        <h6>{{ question.questionStatement }}</h6>
                        <br>
                        <p class="card-subtitle text-muted">{{ question.marks }} marks</p>
                        <br>
                        <div class="quiz-card-footer">
                            <a href=" {{ url_for('render_question_page', quiz_id = quiz.quizId, question_id = question.questionId) }}">
                                <img src="{{ url_for('static', filename='right.png') }}" width="30px" height="30px"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <div class="col-md-6 mb-3">
                    <div class="text-center d-flex justify-content-center align-items-center" style="cursor: pointer; padding-top: 50px;">
                        <a href="{{ url_for('render_question_create_page', quiz_id = quiz.quizId) }}" class="btn btn-outline-dark">+ Add Question</a>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>
