<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quiz Master | User Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admindashboardstyle.css" , rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg shadow-sm">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Scores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Summary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="container mt-4">
        <h3>Welcome {{ username }}</h3>
        <br>
        {% if error_message %}
        <div class="alert alert-danger">
            {{ error_message }}
        </div>
        {% endif %}
        <div class="row">
            {% if quizzes %}
            {% for quiz in quizzes %}
            <div class="col-md-3 mb-4">
                <div class="card shadow-sm position-relative">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">{{ quiz.quizName }}</h5>
                        <hr>
                        <p>
                            <span>
                                <img src="{{ url_for('static', filename='clock.png') }}" width="20px" height="20px"
                                    style="margin-right: 8px;">
                            </span>
                            {{ quiz.timeDurationMinutes }} minutes
                        </p>
                        <p>
                            <span>
                                <img src="{{ url_for('static', filename='calendar.png') }}" width="20px" height="20px"
                                    style="margin-right: 8px;">
                            </span>
                            {{ quiz.quizDate }}
                        </p>
                    </div>
                    <br>
                    <div class="card-footer bg-white border-0">
                        <a href="{{ url_for('render_user_quiz_view_page', quiz_id = quiz.quizId) }}"
                            class="btn btn-outline-dark">View</a>
                     
                        <a href="{{ url_for('start_quiz', quiz_id=quiz.quizId) }}"
                            class="btn btn-outline-dark">
                            Start
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>